body, #page-body {
    background-color: #0F0F0F;
}
#nav-header a, #nav-header a:visited {
    color: #fff;
}
/* text and other titles */
a, a:visited {
    color: #B4B4B4;
    font-weight: bold;
    color: rgb(200, 200, 200);
}
a:hover {
    color: #FFF;
}
/* body */
#page-body {
    padding-bottom: 5px;
}
/* Top Banner ~ Logo and Social Media Links */
.top-banner-container{
	height:42px;
    background-color: #121212;
	margin-bottom: 0;
	width: 100%;
}
.top-logo{
    background-image: url(./images/logo.png);
	height: 100%;
	background-size: 300px 100%;
	background-repeat: no-repeat;
    }
.top-social-media {
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    position: absolute;
    right:0;
    bottom:0;
}
.top-social-media img {
    float:right;
    height: 35px;
    margin: 2px 5px 0 15px;
}
/* Header */
.homepage-banner-container{
	height:180px;
	margin:0 auto;
	background-color: #40434E;
	text-align: center;
	border: 0;
	margin-bottom: 0;
    position:relative;
	/* #40434E;*/
}
.homepage-banner{
	background-image: url(./images/banner.png);
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/*breadcrumbs*/
.nav-links {
    color: rgb(102, 102, 102);
    background-color: rgb(34, 34, 34);
    border: 4px solid #090909;
    border-radius: 5px;
    margin: 10px 0;
}
#page-body .nav-extra {
    margin-top: 20px;
    margin-right: 15px;
}
/* general forum and topic styling */
li.header dt, li.header dd, ul.topiclist li.header a, ul.topiclist li.header a:visited {
    color: #E6E6E6 !important;
    text-decoration: none;
}
div.forabg, ul.topiclist, ul.topiclist li, ul.topiclist li.header, div.forumbg, div.panel-wrapper {
    background-image: none;
}
div.forabg, div.forumbg {
    background-color: #040404;
    border: 4px solid #090909;
    border-radius: 5px;
}
ul.topiclist li.header {
    border: 4px solid #222;
    border-radius: 5px;
    background-color: #111;
    margin: 0px;
}
ul.topiclist li.header dt, ul.topiclist li.header dd {
    font-size: 16px;
    font-weight: 900;
    line-height: 1em;
}
ul.topiclist li.header dd  {
    border-color: #202020;
}
ul.topiclist li {
    margin-top: 10px;
    background-color: #202020;
}
ul.topiclist li.row {
    border:4px solid #111;
    border-radius: 5px;
}
ul.topiclist dd {
    border-left: 1px solid #000;
}
dd.posts, dd.topics, dd.views {
    width: 7%;
}
a.forumtitle, a.forumtitle:visited, a.topictitle, a.topictitle:visited {
    font-weight: bold;
    color: rgb(230, 230, 230);
}
/* extra */
#search-box input[type="text"] { color: #FFF;}
#search-box input[type="text"]:hover, #search-box input[type="text"]:focus {color: #999;}
.Header {
    border: 4px solid #222;
    border-radius: 5px;
    background-color: #111;
    margin: 0px;
    padding: 5px;
}
.Header a, Header a:visited {
    color: #999999;
    }
.Panel {
    background-color: #202020;
    border: 4px solid #111111;
    border-radius: 5px;   
    margin-top: 10px;
    padding: 10px;
}
/* footer */
#footer, #footer .copyright a:hover, #footer .copyright strong a {
    background:none;
    background-color: #0F0F0F;
    color: #999;
}
#Footer {
background-color: #222;
bottom: 0;
/*margin-top: 20px;
border: 4px solid #090909;
border-radius: 5px;
padding: 4px 0;*/
}
/*members page*/
#memberlist{
background-color: rgb(40, 40, 40);
}
table#memberlist thead{
background-color: #111;
}
table#memberlist th{
background:none;
}
table#memberlist td {
border: 1px solid #121212;
border-radius:0;
}

/* bottom crap*/
#page-body > h2, #page-body > form > h2, #page-body > h3, #page-body > form > h3, div#message h2, #confirm h2, #agreement h2, #page-body h2.title a, #page-body h2.title a:visited {
    color: rgb(180, 180, 180);
}
#page-body > h2, #page-body > form > h2, #page-body > h3, #page-body > form > h3, div#message h2, #confirm h2, #agreement h2 {
    font-size: 20px;
    line-height: 1.2em;
    font-weight: normal;
    font-weight: bold;
    text-shadow: .25px .25px 1px gray;
}
